* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
    background-color: #7DAA92;
}

.animalHead {
    font-family: 'Tilt Neon';
    position: absolute;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%);
    transition: all 0.2s;
}

.animalImage {  
    left: 50%;
    position: relative;
    transform: translate(-50%);
    border-radius: 10px;
    width: 400px;
    margin-top: 50px;
}


.animalDesc {
    position:relative;
    font-family: 'roboto mono';
    width: 400px;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 100px;
}
@media screen and (max-width:1080px) {
    body {
        background-color: #218380;
    }
}
@media screen and (max-width:540px) {
    body {
        background-color: #19647E;
    }
    .animalHead {
        font-size: 20px;
    }
}